/* VARIABLES */

$color-red: #ed1b2e;
$color-black: #181818;
$color-yellow: #ffe800;
$font: 'Montserrat', sans-serif;


*   {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 12px;
}

body {
    font-family: $font;
    line-height: 1.5;
}

header {
    background-color: white;
    border-top: 20px solid $color-black;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.logo img {
    height: auto;
    height: 94px; 
    width: 284px;
    margin: 0px 20px ;
}

img {
    height: auto;
    margin: auto;
    width: 200px;
}

.nav-bar img {
    height: auto;
    margin: auto;
    width: 200px;
}

.navbar {
    border-top: $color-black 20px solid;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $color-red;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px; 
}

.navbar-nav:hover {
    color: $color-red;
}

.menu-contenedor{
    display: flex;
    margin-top: 50px;
    font-family:'Bebas Neue', cursive;
    font-size: 20px;
    justify-content: space-between;
    margin: 20px 100px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $color-red;
    border-bottom: 2px solid $color-red;
    border-radius: 1px;
    transition: 0.5s ease;
}

.navbar-nav:hover{
    color: $color-red;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

/* BREADCRUMBS */

.breadcrumbs {
    padding: 10px;
    font-size: 14px;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after {
    content: '/';
    margin: 0 5px;
    color: $color-red;
}

.breadcrumbs__link {
    text-decoration: none;
    color: $color-black;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
    color: $color-red;
}

.breadcrumbs__link--active {
    color: $color-red;
    font-weight: bold;
}

/* FOOTER */

footer {
    background-color:$color-black;
    box-sizing: border-box;
    padding: 70px 0;
    border-bottom: $color-red 20px solid;
    margin-top: 40px;
}


.footer-col {
    width: 25%;
    padding: 0 15px;

    h4 {
        font-size: 18px;
        color: white;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

    h4::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: $color-red;
        height: 2px;
        box-sizing: border-box; 
        width: 50px;
    }
}    

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
} 

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;

}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #242624;
    background-color: white;
}

//* Contacto*//

.content {
    color: $color-black;
    padding: 0 1.5em;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.brand {
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    color: $color-red;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;

}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form p {
    margin: 0;
    padding: 1em;

}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid $color-red;
}

.contact-form form button {
    background: $color-red;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #860611;
    transition: background-color 1s ease-out;
    outline: 0;
}


.contact-info {
    background: $color-black;
    color: white;

    p {
        color: white;
    }

    span {
        color: $color-red;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding: 0;
    }
    
    li {
        padding: .3em;
    }
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* Productos */

.section {
    margin-bottom: 10px;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;

}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;

}

.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: $color-red;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: white;
    background-color: $color-red;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.product-list {
    color: $color-red;
    font-weight: bold;
}

/* GARANTÍA */

.tittles-garantía {
    color: $color-red;
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-family: $font;
    margin: 10px;
    margin-bottom: 5px;
}

.texto-garantía {
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.span-garantía{
    color: $color-red;
    font-weight: bold;
}

.lista-garantía {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}


/* QUIÉNES SOMOS */

.texto-compañia {
    text-align: center;
    color: $color-red;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}

.título-h3 {
    margin-top: 40px;
}


li {
    text-decoration: none;
}

h5 {
    text-align: right;
    font-family: $font;
}

h1 {
    color: $color-black;
    font-family: $font;
}

section {
    font-family: $font;
}

.tittles {
    color: $color-red;
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-family: $font;
    margin: 10px;
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
    color: black;
}

.hmenu {
    color: $color-red;
    text-align: center;
    font-size: 200%;
    font-weight: normal;
}    

div h3 {
    color: black;
    text-align: center;
    font-weight: bold;
}

p {
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    line-height: 1.6;
}

.textright {
    text-align: right;
}

.imenu{
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.products {
    width: 200px;
    border: 5px solid $color-black;
    height: 200px;
    padding: 50px 30px;
    margin: 20px 30px 10px 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; 
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 40px 20px 20px 20px;
}
.span-col-10 {
    grid-column: span 10 / auto;
    font-weight: bold;
    color: $color-red; 
    font-family: $font;
    font-size: 16px;  
}

.span-row-20 {
    grid-row: span 20 / auto;
    text-align: center;
    font-weight: bold;
    color: $color-black;
    margin: 20px;
}

.flex-grow-1-ms-3 {
    margin: 20px;
}

/* Simulador */

h2 {
    margin-left: 25px;
    font-family: $font;
}

.card-body {
    
    width: 80%;
    max-width: 600px;
    display: block;

    border-radius: 8px;
    border: 3px solid $color-red;

    margin-left: 628px;
    margin-top: -600px;
    margin-bottom: 200px;
    
    box-sizing: border-box;

    font-weight: bold;
    font-size: 16px;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: $font;
 }
 select::-ms-expand {
    display: none;
 }
 .select-box {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: $color-black;
    overflow: hidden;
    border-radius: 8px;
    margin-left: 25px;
    margin-bottom: 100px;
 }
 .select-box::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background:$color-red;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select-box:hover::after {
    color: white;
 }

 .resultados {
     color: $color-red;
     font-family: $font;
     font-size: 12px;
     font-weight: bold;
 }

/* responsive */

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .section {
        margin-bottom: 900px;
    }

    .container .card {
        margin-top: 10px;
    }
}

@media(max-width: 574px){
    
    footer {
        padding-bottom: 415px;
        padding-top: 70px;
    }
    
    
    .footer-col {
        width: 100%;
    }


}

/* large screen */

@media (min-width: 767px) {
    .content {
        padding: 0 4rem;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > * {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1em;
        text-align: left;
    }

}

